@font-face {
  font-family: ledFont;
  src: url("../assets/fonts/led-counter-7.regular.ttf");
}


.values {
  text-align: center;
  margin-top: 370px;
  font-family: ledFont, serif;
  font-size: 40px;
}






